.text-modal {
    width: 400px;
    padding: 25px;
    background-color: var(--white);
    line-height: 25px;
    text-align: justify;
  }
  
  .text-modal-close-btn {
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(156, 185, 247, 0.5);
  }

  .title-comment {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .icon-close-comment {
    font-size: 2rem;
    cursor: pointer;
  }

  .comment-now {
    margin: 15px 0;
    font-size: 1.7rem;
  }

  .text-comment {
    margin-bottom: 15px;
    color: var(--blue);
  }

  textarea {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
  }
  