.product-table {
    margin-top: 30px; 
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.product-table-heading-tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 460px;
    border-bottom: 1px solid #d9d9d9;
}

.product-table-tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 30px;
}

.product-table th {
    padding: 20px;   
}

.product-table td {
    padding: 20px;
    display: flex;
    align-items: center;
}

.product-table-img {
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.product-table-btn {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: var(--blue);
    box-shadow: rgba(149, 157, 165, 0.6) 0 8px 24px;
    margin-right: 20px;
}