.users-list {
    font-size: 2rem;
}

.tr-border {
    border-bottom: 1px solid rgba(150, 150, 210, 0.15);
}

.edit-user-info-input-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 20px;
  }
  
  .edit-user-info-input {
    outline: none;
    border: none;
    background-color: unset;
    padding: 8px 10px;
    font-size: 1.1rem;
    width: 100%;
  }

  .close-modal-details {
    width: 100%;
    margin-top: 20px;
    border: none;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5rem;
    box-shadow: 0 8px 24px rgba(140, 210, 210, 0.3);
  }
  